@charset "UTF-8";
@import "mysite.css";

#profile { width:300px; }
#site-introduction				{ width:inherit; height:inherit; }
#site-introduction img#profile	{ display:inline; }
#site-introduction h2		   	{ display:block; }
#site-introduction pre			{ font-size:1.4em; padding:10px; line-height:1.5em ;}