@charset "UTF-8";
@import "mysite.css";

#profile { width:300px; }
#site-introduction				{ padding:20px;	width:1150px; height:600px; margin:0 auto; }
#site-introduction img#profile	{ display:inline; }
#site-introduction h2		   	{ width:600px; display:block;}
#site-introduction pre			{ font-size:1.5em; padding:10px; line-height:1.5em ;}