@charset "UTF-8";

/* reset */
*				{ margin:0; padding:0 }
html,body		{ font:1em "맑은 고딕", 돋움, 굴림;  width:1300px;  height:640px;  margin : 0px 0px 0px 0px;  }
ul, ol			{ list-style-type: none }


/* layout */
div#container { width:100%;  height:100%; background-color:rgb(255,255,255);  padding:10px; margin:0;   }
div#content	  { width:100%; 
                background-color:rgb(255,255,255); margin-left: 100px; padding : 10px;    
                position: relative; min-height: 100%;
              }
div#navigation	{ width:100%; height:10%;  background-color:rgb(255,255,255); padding:0; margin:0;}
div#footer		{ width:inherit; height:40px; background-color:rgb(255,255,255);
				 color:rgb(0,0,0) ; padding:0; margin:0; font-weight:bold;
				 position: absolute; z-index: 100;
				 }

/* header  : 위/오/아/왼, 위/아래, 왼오/ 위/왼오/아래 */
div#header	ul	{ height:30px; margin: 10px 20px 10px 0 } 
div#header img {margin-left : 500px; margin-top: 21px; }
div#header	li	{ float:right }
div#header	li a { color:#4F4F4F; font-weight:bold; margin-left:10px; text-decoration:none; }

/* navigation */
div#navigation ul	{ height:30px; margin-top:10px; width: 100%; padding-left: 150px; }
div#navigation li			{ width:110px; background-color:rgb(255,255,255); float:left; margin-left:80px; }
div#navigation li a			{ color:rgb(255,255,255); width:110px; font-weight:bold;  font-size:1.2em }
div#navigation li.selected	{ background:#E0E0E0 }
div#navigation li a:link	{ color:#4F4F4F; text-decoration:none; }
div#navigation li a:hover	{ color:#4F4F4F; text-decoration:none; }
div#navigation li a:visited	{ color:#4F4F4F; text-decoration:none; }
div#navigation li a:active	{ color:#4F4F4F; text-decoration:none; }

/* footer */
div#footer p	{ padding : 0px 0px 5px 530px; font-size:1.1em}