body{
    margin-left: 13rem;
    padding: 0;
    background-color: #edf1f8;
}

@font-face {
    font-family: "주아체";
    src: url("./font/주아체.ttf") format('truetype');
}
@font-face {
    font-family: "도현체";
    src: url("./font/도현체.ttf") format('truetype');
}
@font-face {
    font-family: "한나체";
    src: url("./font/한나체.ttf") format('truetype');
}
@font-face {
    font-family: "연성체";
    src: url("./font/연성체.ttf") format('truetype');
}

.font_jua{
    font-family: "주아체";
}

.font_dohyun{
    font-family: "도현체";
}

.font_hanna{
    font-family: "한나체";
}

.font_yunsung{
    font-family: "연성체";
}

.body{
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.body_border{
    padding-top: 5px;
    display: inline-block;
    background-color: #d7eef1;
    width: 800px;
    height: 656px;
}

.form_div{
    padding: 12px;
    width: 95%;
    display: inline-block;
    background-color: white;
}
.title_line{
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}
.main_line{
    margin-bottom: 15px;
}

.final_line{
    margin-top: 10px;
}

.tag_line{
    text-align: left;
    margin : 5px 0px 20px 15px;
}

.file_line{
    margin-top: 10px;
    text-align: left;
    margin-left: 15px;
}

#h3{
    text-align: left;
    margin-left: 10px;
}


#title_text{
    width: 365px;
    margin-bottom: 5px;
}

#main_text_word{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

#main_text{
    resize: none;
    margin: 5px 10px 10px 10px;
}

#write_button{
    margin-top: 8px;
    margin-right:7.5px;
}

#tag_text{
    width: 300px;
}

#list_button{
    background-color: #b49b7a;

}
#write_button{
    background-color: #9bafd2;
}

#list_button, #write_button{
    cursor: pointer;
    padding: 5px;
    border-style: none;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    color: white;
    border: 0;
    outline: 0;
}

.positionHead{
    max-width: 1200px;
    min-width: 1200px;
    margin:0 auto;
    margin-top: -15px;
    margin-left: 180px;
}
.positionBody{
    max-width: 1200px;
    margin:0 auto;
    margin-top: 30px;
}
a {
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    text-decoration: none;
    color: #000000;
}
a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: underline;
}
#ulStyle{
    margin-left: 100px;
    padding: 10px;
    width: 1300px;
    height: 70px;
}
#liStyle{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 25px;
    list-style:none;
    float: left;
    padding:0px;
}